.navbar{
    background-color: var(--theme);
    padding: 0.5rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    z-index: 1000;
}
.logo{
    color: var(--white);
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0;
}
.link{
    opacity: 0.8;
    cursor: pointer;
    color: #e3e3e3;
}
.link:hover{
    opacity: 1.5;
    transition: all ease 0.5s;
}